.select {
    --selectButtonArrowIconUrl: url('../../../assets/icons/arrow-down-grey.svg');
    --selectButtonArrowIconSize: #{fluid-to-laptop(24, 20)};
    --selectButtonGapX:#{fluid-to-laptop(6, 4)};
    --selectButtonPaddingX:#{fluid-to-laptop(12, 8)};

    flex-shrink: 0;


    &__original-control,
    &__button {
        min-width: 94px;
    }

    &__label {
        display: block;
        font-size: fluid-to-laptop(18, 16);
        font-weight: 600;
        color: var(--colour-white);
        margin-bottom: 20px;

        @include laptop {
            margin-bottom: 15px;
        }
    }

    &--wide-width {
        width: 100%;

        .select__button {
            width: 100%;
            height: fluid-to-laptop(45, 38);
            padding-inline: fluid-to-laptop(20, 16);
            background-color: var(--colour-black-08);
            border: var(--border);
            border-radius: var(--border-radius-s);
            color: var(--colour-white);

            @include laptop {
                border-radius: var(--border-radius-xs);
            }

            @include hover {
                border-color: var(--colour-grey-97);
            }
        }

        .select__dropdown {
            width: 100%;
            min-width: unset;
        }

        .select__option {
            color: var(--colour-white);
        }
    }

    &__original-control {
        appearance: none;
        padding-left: var(--selectButtonPaddingX);
        padding-right: calc(var(--selectButtonArrowIconSize) + var(--selectButtonPaddingX) + var(--selectButtonGapX));
        background-image: var(--selectButtonArrowIconUrl);
        background-position: calc(100% - var(--selectButtonPaddingX)) 50%;
        background-size: var(--selectButtonArrowIconSize);
        background-repeat: no-repeat;

        @include mobile-above {
            @include visually-hidden;
        }

        &:disabled {
            &+.select__body {
                @include disabled;

                * {
                    pointer-events: none;
                }
            }
        }
    }

    &__body {
        position: relative;
    }

    &__button,
    &__option {
        user-select: none;
        cursor: pointer;

        * {
            pointer-events: none;
        }
    }

    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: var(--selectButtonGapX);
        padding-inline: var(--selectButtonPaddingX);
        transition-duration: var(--transition-duration);

        @include mobile {
            @include visually-hidden;
        }

        &::after {
            @include square(var(--selectButtonArrowIconSize));

            content: '';
            background: var(--selectButtonArrowIconUrl) center/contain no-repeat;
            transition-duration: inherit;
        }

        &.is-expanded {
            &::after {
                rotate: 180deg;
            }
        }
    }

    &__dropdown {
        position: absolute;
        top: calc(100% + 4px);
        display: grid;
        row-gap: 4px;
        min-width: 150px;
        max-height: 250px;
        overflow-y: auto;
        overscroll-behavior: none;
        padding: 4px;
        background-color: var(--colour-black-06);
        border: var(--border);
        border-radius: var(--border-width-l);
        transition-duration: var(--transition-duration);

        &.is-on-the-left-side {
            left: 0;
            transform-origin: 0 0;
        }

        &.is-on-the-right-side {
            right: 0;
            transform-origin: 100% 0;
        }

        &.is-on-bottom {
            top: calc(100% + 4px);
            // bottom: auto; 
        }

        &.is-on-top {
            bottom: calc(100% + 4px);
            top: auto;
        }

        &:not(.is-expanded) {
            @include hide;

            scale: 0;
        }
    }

    &__option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        padding: 10px;
        border: var(--border);
        border-radius: inherit;

        @include hover {
            color: var(--colour-white);
            border-color: var(--colour-white);
        }

        &.is-selected {
            color: var(--colour-white);

            &::after {
                content: '❌';
            }
        }

        &.is-current {
            border-color: var(--colour-white);
        }
    }
}