DATABASE_NAME= database name🤷‍♀️
MONGODB_URI=Mongo DB connection string
SECRET_KEY=secret key for token 
SECRET_KEY_REFRESH_TOKEN=secret key for refresh token

BASE_PROMPT_TEMPLATE=Return a response using one of these words: {rankings}.The response should be a single word and should not contain any other text.The response should be based on the foloowing review:

OPENAI_API_KEY=secret key generated on https://platform.openai.com/api-keys 

RECOMMENDED_MOVIE_LIMIT= int

ALLOWED_ORIGINS=http://localhost:1111 ,http://localhost:2222 ,http://localhost:3333