.badge{
    @include flex-center(true);

    column-gap: fluid-to-laptop(4, 2);
    padding: fluid-to-laptop(8, 6) fluid-to-laptop(12, 10);
    font-size: fluid-to-laptop(14, 12);
    font-weight: 500;
    line-height: 1;
    color: var(--colour-grey-60);
    white-space: nowrap;
    background-color: var(--colour-black-08);
    border: var(--border);
    border-radius: 50px;

    @include mobile{
        padding-inline: fluid-to-laptop(10, 8);
    }

    &--red{
        color: var(--colour-white);
        background-color: var(--colour-red-45);
        border: none;
        border-radius:var(--border-radius-xxs);

        @include laptop{
            border-radius:var(--border-radius-xxxs);
        }
    }

    &--big{
        padding:fluid-to-laptop(10, 8);
        font-size:fluid-to-laptop(16, 12);
        font-weight: 600;
    }

    &__icon{
        &.icon{
            --iconSize: #{fluid-to-laptop(24, 4)};
        }

    }
}