.user-login {

    &__title {
        text-align: center;
        color: var(--colour-green);
    }

    &__description {
        margin-bottom: 8px;
        font-size: fluid-to-laptop(14, 12);
        text-align: center;
    }

    &__form {
        flex-direction: column;
        gap: fluid(35, 15) fluid-to-laptop(20, 15);
        padding: fluid(20, 10);
        background-color: var(--colour-black-06);
        border: var(--border);
        border-radius: var(--border-radius-l);

        @include laptop {
            border-radius: var(--border-radius-m);
        }


        .field {
            --field-row-gap: #{fluid-to-laptop(5, 3)};
        }

        .field__control {
            --field-control-height: #{fluid-to-laptop(45, 38)};
        }

        .field__body {
            --field-body-margin-bottom: #{fluid(20, 15)};
        }



        &-cell {
            &--wide {
                grid-column: -1/1;
            }

            &--actions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;

                @include mobile-s {
                    flex-direction: column;
                    align-items: stretch;

                }
            }
        }

        &-submit-button--login {
            width: 100%;
            background-color: var(--colour-green);

            @include hover {
                background-color: var(--colour-green-22);
            }
        }


        &-agreement {
            font-size: fluid-to-laptop(11, 9);
            color: var(--colour-black-30);
        }




    }

    &__form-switch {
        text-align: center;
        font-size: 14px;
        color: var(--colour-white);
        padding: fluid(20, 10);

        @include laptop {
            margin-top: 15px;
        }
    }

    &__link {
        cursor: pointer;
        text-decoration: underline;
    }

    &__message {
        padding: 10px;
        background-color: var(--colour-black-12);
        border-radius: var(--border-radius-xs);
        margin-bottom: 10px;
        text-align: center;

        &--error {
            color: var(--colour-red-50);
        }

        &--success {
            color: var(--colour-green);
        }
    }

}

.select__label {
    font-size: fluid-to-laptop(18, 16);
    font-weight: 600;
    color: var(--colour-white);
    margin-bottom: 20px;

    @include laptop {
        margin-right: 15px;
        margin-bottom: 25px;
    }
}

.select__button {
    width: 100%;
    height: fluid-to-laptop(45, 38);
    padding-inline: fluid-to-laptop(20, 16);
    color: var(--colour-white);
    background-color: var(--colour-black-08);
    border: var(--border);
    border-radius: var(--border-radius-s);


    @include laptop {
        border-radius: var(--border-radius-xs);
    }

    @include hover {
        border-color: var(--colour-grey-97);
    }

    &:disabled {
        @include disabled;
    }

    &::placeholder {
        color: var(--colour-white);
    }
}

.select__dropdown {
    width: 100%;
    min-width: unset;
    z-index: 10;
}

.select__option {
    color: var(--colour-white);
}

.tags__item {
    margin-top: fluid(15, 10);
    display: flex;
    align-items: center;
}

.user-login__tags {
    .tags__item {
        position: relative;
        padding-right: 26px;
        cursor: pointer;


        &::after {
            content: '✕';
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 12px;
            opacity: 0.7;
        }

        @include hover {
            &::after {
                opacity: 1;
            }
        }
    }
}